adium-theme-ubuntu==0.3.4
cycler==0.10.0
Django==1.9.7
django-crispy-forms==1.6.0
django-formtools==1.0
django-markdown==0.8.4
django-markdown-deux==1.0.5
django-pagedown==0.1.1
django-registration==2.1.2
duplicity==0.7.6
lockfile==0.12.2
Markdown==2.6.6
markdown2==2.3.1
matplotlib==1.5.1
numpy==1.11.1
Pillow==3.2.0
pygobject==3.20.0
pyparsing==2.1.8
python-dateutil==2.5.3
pytz==2016.6.1
six==1.10.0
touchpad-indicator==1.1.0
unity-lens-photos==1.0
virtualenv==15.0.2
